.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.red {
  background-color: red;
  width: 50vw;
  height: 50vh;
float: left;
}
.darkblue {
  background-color: darkblue;
    width: 50vw;
  height: 50vh;
float: right;
}
.green {
  background-color: green;
  width: 50vw;
  height: 50vh;
float: left;
}
.yellow {
  background-color: yellow;
  width: 50vw;
  height: 50vh;
float: right;
}

